@{
    ViewData["Title"] = "Log In Error";
}

<body style="background-image: url('https://images.pexels.com/photos/29586677/pexels-photo-29586677/free-photo-of-elegant-flow-of-soft-blue-fabric-in-abstract-form.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); background-attachment: fixed; background-size: cover; margin:0; min-height:100vh;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; min-height: 90vh;">
        <h1>Έχετε Αποκλεισθεί από την Εφαρμογή!</h1>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Signout" style="margin-top: 20px;">Πίσω στη Σύνδεση</a>
    </div>
</body>
